<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zdravo use</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <div class="index-container">
        <header class="header">
            <h1>DOBRO DOSAO</h1>
        </header>
        <main class="login-content">
            <p class="intro-text">
                pooz
            </p>
            
            
        </main>
        <%- include("./partials/footer.ejs") %>
    </div>
</body>
</html>
